<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">WWAG</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('instance_runs') }}">Instance Runs</a></li>
        <li><a href="{{ url_for('videos') }}">Videos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if g.current_player %}
        <li><a>Signed in as <strong>{{ g.current_player['FirstName'] }} {{ g.current_player['LastName'] }}</strong> (Player)</a></li>
        <li><a href="{{ url_for('users_logout') }}">Sign Out</a></li>
        {% elif g.current_viewer %}
        <li><a>Signed in as <strong>{{ g.current_viewer['Email'] }}</strong> (Viewer)</a></li>
        <li><a href="{{ url_for('users_logout') }}">Sign Out</a></li>
        {% else %}
        <li><a href="{{ url_for('users_login') }}">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
