{% extends "layout.html" %}
{% block content %}
{% include "partials/welcome.html"%}
<hr>
<div class="row">
  <div class="col-xs-8">
    <h3>Popular Videos</h3>
    <space>
    <div class="list-group">
      {% for video in videos %}
      <a href="{{ url_for('videos_show', video_id=video['VideoID']) }}" class="list-group-item">
        <div class="row">
          <div class="col-xs-3">
            <img src="{{ video['URL'] | youtube_thumbnail_url }}" width="120" height="90" />
          </div>
          <div class="col-xs-7">
            <h4 style="margin-top: 10px">{{ video['VideoName'] }}</h4>
            <p><small>Uploaded on {{ video['CreatedAt'] | date }} for instance run <strong>{{ video['Name'] }}</strong>. This video has been viewed {{ video['ViewCount'] }} times.</small></p>
          </div>
          <div class="col-xs-2 right"><div style="font-size: 18px"> {% if video['Price'] > 0 %} ${{ video['Price'] }} {% else %} Free {% endif %}</div></div>
        </div>
      </a>
      {% endfor %}
    </div>
    <a href="{{ url_for('videos') }}">Browse All Videos</a>
  </div>
  <div class="col-xs-4">
    <h3>Latest Instance Runs</h3>
    <space>
    <div class="list-group">
      {% for instance_run in instance_runs %}
      <a href="{{ url_for('instance_runs_show', instance_run_id=instance_run['InstanceRunID']) }}" class="list-group-item">
        <h4>{{ instance_run['Name'] }}</h4>
        <p>{{ instance_run['RecordedTime'] | date }} <span class="label label-primary">{{ instance_run['CategoryName'] }}</span> </p>
      </a>
      {% endfor %}
    </div>
    <a href="{{ url_for('instance_runs') }}">Browse All Instance Runs</a>

  </div>
</div>

{% endblock %}
