{% extends "layout.html" %}
{% block content %}
<h1>Games</h1>
<table class="table">
  <thead>
    <th>Game Name</th>
    <th>Genre</th>
    <th>Star Rating</th>
    <th>Classification Rating</th>
    <th>Price</th>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <td><a href="{{ url_for('games_show', game_id=game['GameID']) }}">{{ game['GameName'] }}</a></td>
      <td>{{ game['Genre'] }}</td>
      <td>{{ game['StarRating'] }}</td>
      <td>{{ game['ClassificationRating'] }}</td>
      <td>{{ game['Cost'] | price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('games_create') }}">Add a new Game</a>

{% endblock %}
