{% extends "layout.html" %}
{% block content %}
<h1>Sign In <small>Log in as Player or Viewer</small></h1>

<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <h3>I'm a Player</h3>
    <space>
    {{ macros.render_form(login_form, action_url=url_for('users_login_player'), action_text='Sign In', class_='form') }}
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <h3>I'm a Viewer</h3>
    <space>
    {{ macros.render_form(login_form, action_url=url_for('users_login_viewer'), action_text='Sign In', class_='form') }}
  </div>
</div>
{% endblock %}
