{% extends "layout.html" %}
{% block content %}
<h1>Equipment Management</h1>
<table class="table">
  <thead>
    <th>Equipment Mode and Make</th>
    <th>Review</th>
    <th>Processor Speed</th>
    <th>Manage</th>
  </thead>
  <tbody>
    {% for e in equipment %}
    <tr>
      <td>{{ e['ModelAndMake'] }}</td>
      <td>{{ e['EquipmentReview'] }}</td>
      <td>{{ e['ProcessorSpeed'] }}</td>
      <td>
        <a href="{{ url_for('equipment_update', equipment_id=e['EquipmentID']) }}">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('equipment_create') }}">Add a new Equipment</a>

{% endblock %}
