{% extends "index.html" %}
{% block content %}
<h1>Order #{{ order['ViewerOrderID'] }}</h1>

<table class="table">
  <thead>
    <th>Video Item</th>
    <th class="right">Price</th>
  </thead>
  <tbody>
    {% for order_line in order_lines %}
    <tr>
      <td><a href="{{ url_for('videos_show', video_id=order_line['VideoID']) }}">{{ order_line['VideoName'] }}</a></td>
      {% if order_line['FlagPerk'] %}
        <td class="right"><strike>${{ order_line['Price'] }}</strike> <strong>Free</strong></td>
      {% else %}
        <td class="right">${{ order_line['Price'] }}</td>
      {% endif %}
    </tr>
    {% endfor %}
    <tr>
      <td><strong>Grand Total</strong></td>
      <td class="right"><strong>${{ order_total }}</strong></td>
    </tr>
  </tbody>
</table>

{% if order['ViewedStatus'] == "OPEN" %}
<h3>Checkout</h3>
<p>Obtain access to the </p>
{% endif %}
{% endblock %}
