{% extends "index.html" %}
{% block content %}
<h1>Order #{{ order['ViewerOrderID'] }} <small><span class="label label-default">{{ order['ViewedStatus'] }}</span></small></h1>

{% if order_lines | length %}
<h3>Your Order Items</h3>
<table class="table">
  <thead>
    <th>Video Item</th>
    <th class="right">Price</th>
  </thead>
  <tbody>
    {% for order_line in order_lines %}
    <tr>
      <td>
        <a href="{{ url_for('videos_show', video_id=order_line['VideoID']) }}">{{ order_line['VideoName'] }}</a> &nbsp;
        {% if order['ViewedStatus'] == "OPEN" %}
        <small>[<a href="{{ url_for('videos_remove_from_basket', video_id=order_line['VideoID']) }}">Remove</a>]</small>
        {% endif %}
      </td>
      {% if order_line['FlagPerk'] %}
        <td class="right"><strike>${{ order_line['Price'] }}</strike> <strong>Free</strong></td>
      {% else %}
        <td class="right">${{ order_line['Price'] }}</td>
      {% endif %}
    </tr>
    {% endfor %}
    <tr>
      <td><strong>Grand Total</strong></td>
      <td class="right"><strong>${{ order_total }}</strong></td>
    </tr>
  </tbody>
</table>
{% else %}
<div class="well well-lg">
  <h3>Your basket is empty</h3>
  <p>Browser our video collection for your favourite instance runs.</p>
  <p><a href="{{ url_for('videos') }}" class="btn btn-primary">Browser videos</a></p>
</div>
{% endif %}

{% if order['ViewedStatus'] == "Open" and order_total > 0 %}
<div class="well well-lg right">
<p>Instantly access this order for ${{ order_total }}</p>
<p>{{ button_to(url_for('basket_checkout'), "Checkout", "btn-primary") | safe }}</p>
</div>
{% endif %}
{% endblock %}
