{% extends "layout.html" %}
{% block content %}
<h1>Popular Videos</h1>
<table class="table">
  <thead>
    <th>Video Name</th>
    <th>Instance Run</th>
    <th>Published Date</th>
    <th>View Count</th>
    <th>Link</th>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr>
      <td><a href="{{ url_for('videos_show', video_id=video['VideoID']) }}">{{ video['VideoName'] }}</a></td>
      <td><a href="{{ url_for('instance_runs_show', instance_run_id=video['InstanceRunID']) }}">{{ video['Name'] }}</a></td>
      <td>{{ video['CreatedAt'] }}</td>
      <td>{{ video['ViewCount'] }}</td>
      <td><a href="{{ video['URL'] }}">Watch</a> -  - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('videos_create') }}">Add a new Video</a>

{% endblock %}
