{% extends "layout.html" %}
{% block content %}
<h1>Videos Directory</h1>
<div class="list-group">
  {% for video in videos %}
  <a href="{{ url_for('videos_show', video_id=video['VideoID']) }}" class="list-group-item">
    <div class="row">
      <div class="col-xs-2">
        <img src="{{ video['URL'] | youtube_thumbnail_url }}" width="120" height="90" />
      </div>
      <div class="col-xs-8">
        <h3 style="margin-top: 10px">{{ video['VideoName'] }}</h3>
        <p>Uploaded on {{ video['CreatedAt'] | date }} for instance run <strong>{{ video['Name'] }}</strong>. This video has been viewed {{ video['ViewCount'] }} times.</p>
      </div>
      <div class="col-xs-2 right">
        <div style="font-size: 24px">
          {% if video['Price'] > 0 %}
          ${{ video['Price'] }}
          {% else %}
          Free
          {% endif %}
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

<a href="{{ url_for('videos_create') }}">Add a new Video</a>

{% endblock %}
