{% extends "index.html" %}
{% block content %}
<a href="{{ url_for('videos') }}"><< Back to All Videos</a>
<h1>{{ video['VideoName'] }}</h1>
<div class="row">
  <div class="col-xs-8">
    <iframe width="95%" height="360" src="{{ video['URL'] }}" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-xs-4">
    <h3>Instance Run</h3>
    <p>This video is recorded as part of the instance run <a href="{{ url_for('instance_runs_show', instance_run_id=video['InstanceRunID']) }}">{{ video['Name'] }}</a> for the game <a href="{{ url_for('games_show', game_id=video['GameID']) }}">{{ video['GameName']}}</a>.</p>
    <h3>Meta</h3>
    <ul>
      <li>Uploaded on {{ video['CreatedAt'] | date }}</li>
      <li>Viewed {{ video['ViewCount'] }} times</li>
    </ul>

    <h3>Manage</h3>
    {% if g.current_player %}
    <p><a href="{{ url_for('videos_update', video_id=video['VideoID']) }}" class="btn btn-sm btn-default">Edit Video</a></p>
    <p>{{ button_to(url_for('videos_delete', video_id=video['VideoID']), 'Delete Video', 'btn-sm btn-danger') | safe }}</p>
    {% else %}
    <p>Only a player can manage this video.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
