{% extends "layout.html" %}
{% block content %}
<h1>Available Venues</h1>
<table class="table">
  <thead>
    <th>Venue Name</th>
    <th>Venue Description</th>
  </thead>
  <tbody>
    {% for venue in venues %}
    <tr>
      <td><a href="{{ url_for('venues_show', venue_id=venue['VenueID']) }}">{{ venue['Name'] }}</a></td>
      <td>{{ venue['VenueDescription'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('venues_create', player_id=player_id) }}">Add a new Venue</a>
{% endblock %}
